.cart {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin: 15rem 0;
  align-items: center;
}
.cart h2 {
  font-size: 3rem;
  font-weight: bold;
  margin: 3rem;
}

.cartItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 2rem 5rem;
  width: 100%;
  gap: 1rem;
}

.cartItem img {
  max-width: 100%;
  height: 15rem;
}

.cartItem h3 {
  font-size: 2rem;
  margin: 0.5rem 0;
  color: var(--gray-800);
}

.cartItem p {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.cartItem span {
  font-weight: bold;
  background-color: var(--primary-light);
  padding: 0.6rem 1rem;
}

.cartItem button {
  background-color: var(--primary-dark);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.cartItem button:hover {
  background-color: #0056b3;
}

.cartItem button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.quantity {
  display: flex;
  align-items: center;
}